<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Voter Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/home.css" rel="stylesheet">
        <link rel="shortcut icon" href="../images/Election commision header.jpeg" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="header">
            <div id="header-image">
                <img src="../images/Election commision header.jpeg" alt="Election Commision of India Image">
            </div>
            <div id="options">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">HelpDesk</a></li>
                        <li><a href="">Active Elections</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="slider">
            <marquee behavior="" direction="">&ldquo; Elections belong to the people. It's their decision. If they decide to turn their
                 back on the fire and burn their behinds, then they will just have to sit on their blisters.&rdquo;</marquee>
        </div>
        <div id="mainbody">
                <div id="body-1">
                    <div id="image-body">
                        <img src="../images/Election commision of india wall.avif" alt="Wall image">
                    </div>
                        <div id="content">
                            <p>&ldquo;As democracy is perfected, the office of president represents, more and more closely, the inner soul of the people.
                            On some great and glorious day the plain folks of the land will 
                            reach their heart's desire at last and the White House will be adorned by downright moron.&rdquo;</p>
                            <div id="button">
                                <a href="">VOTE NOW &#8594;</a>
                            </div>
                        </div>
                </div>
                <div id="body-2">
                    <div id="marquee-headings">
                    <h2>Ongoing Elections</h2>
                </div>
                <div id="announcements">
                    <marquee behavior="" direction="up"><a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                        voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                        ipsa ipsam rerum! Possimus, quos qui.</p></a>
                        <a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                            voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                            ipsa ipsam rerum! Possimus, quos qui.</p></a>
                            <a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                                voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                                ipsa ipsam rerum! Possimus, quos qui.</p></a>
                                <a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                                    voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                                    ipsa ipsam rerum! Possimus, quos qui.</p></a>
                                    <a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                                        voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                                        ipsa ipsam rerum! Possimus, quos qui.</p></a>
                                        <a href=""><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi ratione 
                                            voluptate numquam commodi. Reiciendis quidem magni aliquid at beatae amet et dolorum fugit provident, 
                                            ipsa ipsam rerum! Possimus, quos qui.</p></a></marquee>
                        
                        </div>
        </div>
        </div>
        <div id="footer">
            <div id="footer-image">
                <img src="../images/Election commision header.jpeg" alt="footer image election commision of india">
                <p>© Copyright Election Commission of India
                    Current version of website updated on 31.08.2023</p>
            </div>
            <div id="another-sites">
                <ul>
                        <li><a href="#" class="fa fa-facebook"></a> </li> 
                        <li><a href="#" class="fa fa-twitter"></a>  </li>
                        <li><a href="#" class="fa fa-youtube"></a>  </li>
                        <li><a href="#" class="fa fa-google"></a> </li>
                </ul>
                <div id="footer-para">
                    <p>Visit Our Following Social handles</p>
                </div>
            </div>
        </div>
        <div id="foot">
            <hr>
            <p>Copyright by Rajesh and Samaksh 2023 !!!</p>
        </div>
    
    </body>
</html>